
<h2 style="margin-left : 300px ; margin-bottom : 30px">Liste des annonces publiées en date du '{{date}}' :</h2>

<div class="container" *ngFor="let x of Mylist" style="margin-left : 300px">
    <div class="card border-dark rounded-right" style="margin: 10px">  
        <div class="card-body d-flex row align-items-center">
            <div style="margin-right : 50px">
                <img class="card-img" style="width: 350px"src="./assets/carnac.jpg" alt="menhir carnac">
            </div>
            <div class="">
                <h4 class="card-title">{{x.titre}}</h4>
                <p>posté le : {{x.date}} par {{x.recruteur.name}} - ({{x.dept.name}} - {{x.dept.id}})</p>
                <span>cat : {{x.categorie}} - type de contrat : {{x.type_contrat}} - salaire : {{x.salaire}}</span>
                <p class="card-text">{{x.description}}</p>
                <a href="ad" class="card-link"><button class="btn btn-outline-dark">Voir détails</button></a>
                <!--<a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>
</div>