<div class="container p-3 my-3 border bg-light d-flex">
    <img style="width:20%" src="./assets/DanaValley.png" class="rounded-circle" alt="DanaValley logo"/>
    <span class="ml-auto">
        <h1>Dana Valley</h1>
        <h3>Votre avenir numérique au format légendaire.</h3>
    </span>
</div>
<nav class="navbar navbar-expand-sm bg-light sticky-top justify-content-around">
        <button class="btn btn-outline-dark" style="font-size:20px" href="#">Accueil</button>
        <button class="btn btn-outline-dark" style="font-size:20px" href="#">Consulter les annonces</button>
        <button class="btn btn-outline-dark" style="font-size:20px" href="#">S'inscrire/ Se connecter</button>
</nav>
