<div class="container p-3 my-3 border bg-light d-flex">
    <a href="home"><img style="width:40%" src="./assets/DanaValley.png" class="rounded-circle" alt="DanaValley logo"/></a>
    <span class="ml-auto d-flex  flex-column align-items-end">
        <h1>Dana Valley</h1>
        <h3 >Votre avenir numérique au format légendaire.</h3>
    </span>
</div>
<nav class="navbar navbar-expand-sm bg-light sticky-top justify-content-around">
        <button class="btn btn-outline-dark" style="font-size:20px" href="home">Accueil</button>
        <button class="btn btn-outline-dark" style="font-size:20px" href="ads">Consulter les annonces</button>
        <div class="dropdown">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
             S'inscrire/ Se connecter
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="register"><button class="btn btn-outline-light text-dark">S'inscrire</button></a>
              <a class="dropdown-item" href="login"><button class="btn btn-outline-light text-dark">Se connecter</button></a>
            </div>
</div>
</nav>

