<ul class="nav justify-content-center bg-dark fixed-bottom" style="padding : 10px">
    <li class="nav-item" style="margin:5px 150px">
      <a href="home">
        <button type="button" class="btn btn-outline-secondary" style="font-size : 20px">Home</button>
      </a>
    </li>
    <li class="nav-item" style="margin:5px 150px">
      <a href="cgu">
        <button type="button" class="btn btn-outline-secondary" style="font-size : 20px">CGU</button>
      </a>
    </li>
    <li class="nav-item" style="margin:5px 150px">
      <a href="about">
      <button type="button" class="btn btn-outline-secondary" style="font-size : 20px">A propos</button>
      </a>
    </li>
</ul>
