
<div class="container ">
    
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    
                    <div class="row">
                        
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <h6 class="f-w-600">{{user.prenom}} {{user.nom}}</h6>
                                <img src="{{user.logo || default_img_url}}" class="logo_ent" />
                            </div>
                        </div>

                        <div class="col-sm-8">
                            
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informations</h6>
                            <div class="row">

                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Département</p>
                                    <h6 class="text-muted f-w-400">{{user.departement.id}} - {{user.departement.nom}}</h6>
                                </div>

                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Entreprise</p>
                                    <h6 class="text-muted f-w-400">{{user.nom_Entreprise}}</h6>
                                </div>

                                <div class="col-sm-6">
                                    <button (click)="display_form(true)" class="btn btn-primary">modifier</button>
                                </div>

                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>

    <div *ngIf="shouldShow" class=" center">
        
        <div class="p-3 py-5">
            
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Modifier le profil</h4>
            </div>
            
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" [(ngModel)]="user.nom"></div>
                <div class="col-md-6"><label class="labels">Prenom</label><input type="text" class="form-control" [(ngModel)]="user.prenom"></div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Entreprise</label><input type="text" class="form-control" [(ngModel)]="user.nom_Entreprise"></div>
                <div class="col-md-6"><label class="labels">logo</label><input type="text" class="form-control" [(ngModel)]="user.logo"></div>
            </div>

            
            
            <!-- <div class="row mt-3">
                <div class="col-md-6">
                    <label class="labels">Département</label>
                    <input type="number" class="form-control" [(ngModel)]="departement" placeholder="{{user.departement.id}}">
                </div>
            </div> -->

            <label>Département :</label><br>
            <div class="form-check" *ngFor="let dept of departements">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="{{dept.id}}"
                        [(ngModel)]="user.departement_id" name="optradio_r">{{dept.id}} - {{dept.nom}}
                </label>
            </div>
            
            <div class="row mt-5 center"><button (click)="valider()" class="btn btn-primary" type="button">valider</button></div>
            
        </div>
            
    </div>
</div>