<div class="container-fluid" style="margin-left:300px ; margin-right: 300px">
    <ol class="list-group">
        <li class="list-group-item">Création de filtres de recherche</li>
        <li class="list-group-item">Boîte de dialogue Recruteur/Candidat</li>
        <li class="list-group-item">Ajout d'images et de logos</li>
        <li class="list-group-item">Déposer un CV</li>
        <li class="list-group-item">Sur l'Accueil : dernières nouvelles, derniers inscrits , onglet 'contactez-nous'</li>
      </ol>

    <a href="https://www.youtube.com/watch?v=80hMEKlLVgQ" class="link-success" style="margin-left : 100px ; margin-top : 75px ; font-size:  20px">Notre sponsor!</a>

</div>
