<div class="container login-container">
    <div class="row">

        <div class="col-md-6 login-form-1">

            <h3>Espace candidat</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="mail" [(ngModel)]="candidate.mail"
                    name="mail_candidate" />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="mot de passe" [(ngModel)]="candidate.mdp"
                    name="pwd_candidate" />
            </div>

            <div class="form-group">
                <button (click)="login(false)" class="btn btn-outline-dark">se connecter</button>
            </div>

        </div>

        <div class="col-md-6 login-form-2">

            <h3>Espace recruteur</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="mail" [(ngModel)]="recruiter.mail"
                    name="mail_recruiter" />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="mot de passe" [(ngModel)]="recruiter.mdp"
                    name="pwd_recruiter" />
            </div>

            <div class="form-group">
                <button (click)="login(true)" class="btn btn-outline-dark">se connecter</button>
            </div>


        </div>

    </div>

    <div class="register_div">
        pas de compte ? <button [routerLink]="['/register']" class="btn btn-primary">s'inscrire</button>
    </div>

</div>