<div class="container" style="margin-bottom: 100px;">

    <h6 class="text-muted">Missions proposées</h6>

    <ul class="list-group">

        <div *ngFor="let annonce of user.listeAnnonces"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

            <div class="flex-column">
                <p style="font-weight: bold">{{annonce.titre}} </p>
                <p><small><span style="font-weight:bold">{{annonce.categorie}}</span> - {{annonce.date}}</small></p>
                <button class="btn btn-primary" style="margin-right: 20px"
                    (click)="go_to_details(annonce.id)">Details</button>
                <button class="btn btn-primary" style="margin-right: 20px"
                    (click)="go_to_liste_candidats(annonce.id)">Voir Candidats</button>
                <button class="btn btn-warning" style="margin-right: 20px"
                    (click)="go_update(annonce.id)">Modifier</button>
                <button class="btn btn-danger" (click)="delete_annonce(annonce.id)">Supprimer</button>
            </div>

            <div class="image-parent">
                <img src="{{user.logo || default_img_url}}" class="img-fluid" alt="lay">
            </div>

        </div>

    </ul>

</div>