.image-parent {
max-width: 40px;
}

.test{
    border:1px solid black;
    margin: 0 auto;
}

.center{
    justify-content: center;
    align-items: center;
}

.list-group-item:hover{
    box-shadow: 8px 8px 5px grey;}